@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body  {
    display: grid;
    grid-template-columns: repeat(12, 65px); /* grid area */
    gap: 30px;
  }

header {;
    background: #1B1B1B;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1110px;
    height: 70px;
    flex-shrink: 0;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: flex-start;
    gap: 70px;
    margin: 24px 95px;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    color: #9C9C9C;
    font-family: "IBM Plex Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
  }
  
  .logo {
    width: 107.542px;
    height: 17px;
    flex-shrink: 0;
  }
  
  .logos img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  #hero{
    background: #080808;
    width: 100vmax; /*100% of the width of th screen */
    height: 800px;
  }

  .hero_block {
    height: 800px;
    margin-top: 150px;
    margin-left: 10em;
  }

  .hero_case {
    width: 100%;
    gap: 30px;
    display: flex;
  }

  .hero_header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .title {
    padding: 10px 0px;
    gap: 10px;
    color: #FFF;
    font-family: Raleway;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .intro p {
    color: #9C9C9C;
    font-family: "IBM Plex Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.14px;
  }

  #hero button {
    display: flex;
    padding: 21px 64px;
    flex-basis: auto;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #62BA1B;
    background: #3F8E00;
    box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.50);
    color: #FFF;
    font-family: "IBM Plex Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .photo_hero {
    width: 416px;
    height: 423px;
    flex-shrink: 0;
    margin-right: 180px;
    border-radius: 50%; /* add this to create a circular shape */
    background: url(./images/9059940e50e86fa8406b6c2b6aa018e1.jpg) no-repeat center; /* set the image as the background */
    background-size: cover; /* scale the image to cover the entire circle */
  }

  .work_with {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .work_with p {
    color: #FFF;
    font-family: "IBM Plex Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .clients_logo {
    display: flex;
    width: 920px;
    height: 60px;
    justify-content: center;
    /* align-items: flex-start; */
    gap: 30px;
  }


