* {
    margin: 0;
    padding: 0;
}

body  {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5%;
    background-image: linear-gradient(to right, transparent 83.33px, rgba(255, 0, 0, 0.5) 83.33px, rgba(255, 0, 0, 0.5) 84.33px, transparent 84.33px),
                           linear-gradient(to right, transparent 16.67% , rgba(255, 0, 0, 0.5) 16.67%, rgba(255, 0, 0, 0.5) 17.67%, transparent 17.67% ),
                           linear-gradient(to right, transparent 91.67% , rgba(255, 0, 0, 0.5) 91.67%, rgba(255, 0, 0, 0.5) 92.67%, transparent 92.67% );
    background-size: 83.33px 100vh;
    pointer-events: none;
  }

header {
    background: #1B1B1B;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1110px;
    height: 70px;
    flex-shrink: 0;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: flex-start;
    gap: 70px;
    margin: 24px 95px;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    color: #9C9C9C;
    font-family: "IBM Plex Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
  }
  
  .logo {
    width: 107.542px;
    height: 17px;
    flex-shrink: 0;
  }
  
  .logos img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  #hero {
    background: #080808;
    width: 100vmax;
    height: 700px;
    padding-left: 180px;
    padding-top: 211px;
  }

  .hero_case {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    margin-left: 180px;
  }

    .hero_header {
        display: flex;
        width: 738px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;

}

  .header_title {
    display: flex;
    width: 538px;
    flex-direction: column;
    gap: 30px;
  }

  .title {
    padding: 10px 0px;
    gap: 10px;
    color: #FFF;
    font-family: Raleway;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .intro {
    width: 492px;
  }

  .intro p {
    color: #9C9C9C;
    font-family: "IBM Plex Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.14px;
  }

  #hero button {
    display: flex;
    padding: 21px 64px;
    flex-basis: auto;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #62BA1B;
    background: #3F8E00;
    box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.50);
    color: #FFF;
    font-family: "IBM Plex Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .photo_hero {
    width: 416px;
    /* height: 623px; */
    flex-shrink: 0;
    margin-right: 180px;
    border-radius: 50%; /* add this to create a circular shape */
    background: url(./images/9059940e50e86fa8406b6c2b6aa018e1.jpg) no-repeat center; /* set the image as the background */
    background-size: cover; /* scale the image to cover the entire circle */
  }