@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body  {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* create 3 columns, with the middle one taking 2 times the space */
    grid-gap: 20px; /* add some gap between grid cells */
    justify-content: center; /* center the grid horizontally */
    margin: 0; /* remove default body margin */
    height: 100vh; /* set the body height to 100% of the viewport */
  }
/* 
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5%;
    background-image: linear-gradient(to right, transparent 83.33px, rgba(255, 0, 0, 0.5) 83.33px, rgba(255, 0, 0, 0.5) 84.33px, transparent 84.33px),
                           linear-gradient(to right, transparent 16.67% , rgba(255, 0, 0, 0.5) 16.67%, rgba(255, 0, 0, 0.5) 17.67%, transparent 17.67% ),
                           linear-gradient(to right, transparent 91.67% , rgba(255, 0, 0, 0.5) 91.67%, rgba(255, 0, 0, 0.5) 92.67%, transparent 92.67% );
    background-size: 83.33px 100vh;
    pointer-events: none;
  } */

header {;
    background: #1B1B1B;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1110px;
    height: 70px;
    flex-shrink: 0;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: flex-start;
    gap: 70px;
    margin: 24px 95px;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    color: #9C9C9C;
    font-family: "IBM Plex Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
  }
  
  .logo {
    width: 107.542px;
    height: 17px;
    flex-shrink: 0;
  }
  
  .logos img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  #hero {
    background: #080808;
    width: 100vmax;
    height: 800px;
  }

  .hero_block {
    display: grid;
    grid-row: 1;
    grid-column: 2 / span 1; /* start from the 2nd column and take 1 column width */
    align-items: center;
    padding-left: 180px;
    padding-bottom: 30px;
  }

  .hero_case {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 120px;
  }

  .hero_header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }

  .title {
    padding: 10px 0px;
    gap: 10px;
    color: #FFF;
    font-family: Raleway;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .intro p {
    color: #9C9C9C;
    font-family: "IBM Plex Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.14px;
  }

  #hero button {
    display: flex;
    padding: 21px 64px;
    flex-basis: auto;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #62BA1B;
    background: #3F8E00;
    box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.50);
    color: #FFF;
    font-family: "IBM Plex Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .photo_hero {
    width: 416px;
    height: 423px;
    flex-shrink: 0;
    margin-right: 180px;
    border-radius: 50%; /* add this to create a circular shape */
    background: url(./images/9059940e50e86fa8406b6c2b6aa018e1.jpg) no-repeat center; /* set the image as the background */
    background-size: cover; /* scale the image to cover the entire circle */
  }

  .work_with {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .work_with p {
    color: #FFF;
    font-family: "IBM Plex Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .clients_logo {
    display: flex;
    width: 920px;
    height: 60px;
    justify-content: center;
    /* align-items: flex-start; */
    gap: 30px;
    flex-shrink: 0;
  }
/* 
  .clients_logo svg {
    width: 82.319px;
    height: 20px;
    transform: rotate(-0.004deg);
    flex-shrink: 0;
  } */

  #case_studies {
    width: 150vmax;
    height: 100vh;
    flex-shrink: 0;
    padding: 200px 500px;
    grid-column: 1 / -1; /* take the full width of the grid, from the 1st column to the last */
    grid-row: 2;
    justify-self: center; /* center the case studies block horizontally */
  }

  .case_studies_text h2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
  }

  